# Splitting Genres

Now I needed to create some extra tables to help with visualization. I needed to separate the genre lists into individual counts of each genre, so, first, I loaded my clean dataset into another Jupyter Notebook. Next, I split the genre list into individual columns, and used a for loop to iterate through columns and count each time a genre occurred.

In [1]:
import pandas as pd

data = pd.read_excel(r"C:\Users\lemcm\OneDrive\Goodreads Project Files\goodreads_data.xlsx")
data

,Title,Author,Genres,Average Rating,Book Length
0,Pumpkinheads,"Rainbow Rowell, Faith Erin HicksÂ (Illustrator...","Graphic Novels, Young Adult, Romance, Contempo...",4.03,209.0
1,Mexican Gothic,Silvia Moreno-Garcia,"Horror, Fiction, Historical Fiction, Gothic, M...",3.68,320.0
2,A Portrait in Shadow,Nicole Jarvis,"Fantasy, Historical Fiction, Historical, Adult...",3.86,432.0
3,"Truly, Devious",Maureen Johnson,"Mystery, Young Adult, Mystery Thriller, Contem...",3.95,416.0
4,The Grace Year,Kim Liggett,"Young Adult, Dystopia, Fantasy, Fiction, Scien...",4.15,416.0
...,...,...,...,...,...
295,Aristotle and Dante Discover the Secrets of th...,Benjamin Alire SÃ¡enz,"Young Adult, LGBT, Romance, Contemporary, Fict...",4.32,390.0
296,Autoboyography,Christina Lauren,"Romance, LGBT, Young Adult, Contemporary, Quee...",4.15,407.0
297,Emma,"Jane Austen, Fiona StaffordÂ (Editor)","Classics, Fiction, Romance, Historical Fiction...",4.04,474.0
298,The Awakening,Kate Chopin,"Classics, Fiction, Feminism, School, Literatur...",3.68,195.0
299,All the Light We Cannot See,Anthony Doerr,"Historical Fiction, Fiction, Historical, War, ...",4.32,531.0

In [7]:
# splitting the genres into separate columns
genre_columns = data['Genres'].str.split(', ', expand=True)

# creating an empty dictionary to store genre counts (will become a dataframe)
genre_counts = {}

# iterating through the columns and count genre occurrences
for column in genre_columns.columns:
    counts = genre_columns[column].value_counts()
    for genre, count in counts.items():
        if genre in genre_counts:
            genre_counts[genre] += count
        else:
            genre_counts[genre] = count

# creating a dataframe from the genre counts
genre_counts_df = pd.DataFrame(list(genre_counts.items()), columns=['genre', 'genre_count'])

# printing dataframe
genre_counts_df

                  genre  genre_count
0               Fiction          260
1               Fantasy           97
2               Romance          137
3              Classics           47
4            Nonfiction           27
..                  ...          ...
159            Football            1
160            Scotland            1
161     Regency Romance            1
162  Paranormal Romance            1
163     Read For School            1

[164 rows x 2 columns]

In [8]:
# exporting the data to a csv
genre_counts_df.to_csv('genre_counts.csv', index=False)